Value Required vc_id (\d+)
Value interface (\S+)
Value estado (\S+)

Start
  ^\s*\*?\s*client interface\s*:\s*${interface}\s+is\s+\S+\s*$$ -> Continue
  ^\s*VC state\s*:\s*${estado}\s*$$ -> Continue
  ^\s*VC ID\s*:\s*${vc_id}\s*$$ -> Record
