Value Required name (\S+)
Value vsi_id (\d+)
Value estado (\S+)

Start
  ^\s*\*+\s*VSI Name\s*:\s*${name}\s*$$ -> Continue
  ^\s*VSI State\s*:\s*${estado}\s*$$ -> Continue
  ^\s*VSI ID\s*:\s*${vsi_id}\s*$$ -> Record
